/* Navigation bar */
.topnav {
background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 8%, rgba(215,215,215,1) 9%, rgba(255,255,255,1) 100%);  overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 22px;
  text-decoration: none;
  font-size: 20px;
  font-family: Calibri;
  
}



/* Hover */
.topnav a:hover {
  color: #737373;
}


/* Current Link */
.topnav a.active {
  font-weight:bold;
}

body {
  margin: 0;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 42px;
}

.CoverImg {
  display: block;
  margin-left: auto;
  margin-right: auto;

}


.container {
  display: inline-block;
  width: 80%;
  padding-bottom: 20px;

  padding-left: 100px;
    padding-right: 100px;
    margin-right: auto;
    margin-left: auto;
}

.container3 {
  display: inline-block;
  padding-bottom: 20px;

  padding-left: 100px;
    padding-right: 100px;
    margin-right: auto;
    margin-left: auto;
}



.linkMenu {
  width: 200px; /* Set a width if you like */
}

.linkMenu a {
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-weight: bold;
}

.linkMenu a:hover {
  border-left: 2px solid black;

}

.linkMenu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}
