/* Navigation bar */
.topnav {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 8%, rgba(215,215,215,1) 9%, rgba(255,255,255,1) 100%);  overflow: hidden;
  height: 52px;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 22px;
  text-decoration: none;
  font-size: 20px;
  font-family: Calibri;
}

.topnav a:hover {
  color: #737373;
}

.topnav a.active {
  font-weight:bold;
}


.subNav {
  height: 46px;
  border-bottom: 2px solid black;
  width:60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.subNav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 0px 9px 0px;
  text-decoration: none;
  font-size: 20px;
  font-family: Calibri;
  width: 25%;
}

.subNav a:hover {
  background: rgb(240,240,240);
}

.subNav a.active {
  font-weight:bold;
  background: rgb(50,50,50);
  background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 100%);
}


/* General Format */
body {
  margin: 0;
}

h1 {  /* Main Title */
  font-size: 64px;
  text-align: center;
}

h2 { /* Page Title */
  font-size: 64px;
  margin-left: 32px; 
  margin-top: 24px;
  margin-bottom: 0px;
  font-weight: 500;
}

h3 { /* Page Sub Title */
  margin-left: 32px; 
  margin-top: 0px;
  margin-bottom: 32px;
  font-size: 32px;
  color: lightslategrey;
  font-weight: 500;
}

h4 { /* Page Topic */
  font-size:52px;
  margin-left: 32px; 
  margin-top: 0px;
  margin-bottom: 0px;
  color: darkslategrey;
}

p {
  font-size: 20px;
}

li {
  font-size: 20px;
}


.superH h2 {
  float: left;
  width: auto;
  padding-right: 20px; 
}

.superH h3 {
  float: left;
  font-size: 36px;
  width: auto;
  margin-bottom: 0px;
  margin-top: 48px;
}

/* Divisions and Containers */
.containerMain {
  display: inline-block;
  padding-right: 8.2%;
  padding-left: 8.2%;
  width: 83.6%;

  padding-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
}

.containerSub {
  padding-right: 12.6%;
  padding-left: 12.6%;
  padding-bottom: 260px;
  max-width: 74.8%;
  width: 1280px;

  margin-right: auto;
  margin-left: auto;
}

.col1 {
  float: left;
  width: 30%;
  margin-right: 28px;
  border-right: 2px solid black;
  padding-right: 28px;
}

.col2 {
  float: left;
  width: calc(60% - 58px);
}

.col2Sub {
  text-align: center;
  width: 50%;
  float: left;
  line-height: 1.4;
}


.pageEnd {
  margin-bottom: 180px;
  display: inline-block;
  width: 100%;
}


/* Link Menus */
.linkMenu {
  width: 200px;
}

.linkMenu a {
  color: black; 
  display: block; 
  padding: 12px; 
  text-decoration: none;
  font-weight: bold;
}

.linkMenu a:hover {
  border-left: 2px solid black;

}


/* Center/ Images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.responsive1 {
  max-width: 100%;
  height: auto;
}











